# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
cover.out
coverage.txt
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE and OS junk
.idea/
.vscode/
*.swp
*.swo
.DS_Store

/cert-manager-operator

# Log output from telepresence
telepresence.log

# make tools output
/_output

# Downloaded binaries
bin/

# Test binaries
testbin/
.agentready/
