---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trust-manager
  namespace: cert-manager
  labels:
    app.kubernetes.io/name: cert-manager-trust-manager
    app.kubernetes.io/instance: cert-manager-trust-manager
    app.kubernetes.io/version: "v0.20.3"
    app.kubernetes.io/managed-by: cert-manager-operator
    app.kubernetes.io/part-of: cert-manager-operator
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: cert-manager-trust-manager
  template:
    metadata:
      labels:
        app: cert-manager-trust-manager
        app.kubernetes.io/name: cert-manager-trust-manager
        app.kubernetes.io/instance: cert-manager-trust-manager
        app.kubernetes.io/version: "v0.20.3"
        app.kubernetes.io/managed-by: cert-manager-operator
        app.kubernetes.io/part-of: cert-manager-operator
    spec:
      serviceAccountName: trust-manager
      automountServiceAccountToken: true
      containers:
        - name: trust-manager
          image: "quay.io/jetstack/trust-manager:v0.20.3"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 6443
              name: webhook
            - containerPort: 9402
              name: metrics
          readinessProbe:
            httpGet:
              port: 6060
              path: /readyz
            initialDelaySeconds: 3
            periodSeconds: 7
          args:
            - "--log-format=text"
            - "--log-level=1"
            - "--metrics-port=9402"
            - "--readiness-probe-port=6060"
            - "--readiness-probe-path=/readyz"
            - "--leader-elect=true"
            - "--leader-election-lease-duration=15s"
            - "--leader-election-renew-deadline=10s"
            - "--trust-namespace=cert-manager"
            - "--webhook-host=0.0.0.0"
            - "--webhook-port=6443"
            - "--webhook-certificate-dir=/tls"
          volumeMounts:
            - mountPath: /tls
              name: tls
              readOnly: true
            - mountPath: /packages
              name: packages
              readOnly: true
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
      nodeSelector:
        kubernetes.io/os: linux
      volumes:
        - name: packages
          emptyDir:
            sizeLimit: 50M
        - name: tls
          secret:
            defaultMode: 420
            secretName: trust-manager-tls
