apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: {{ .Name }}
spec:
  config:
    ignition:
      version: 3.4.0
    storage:
      files:
        - contents:
            source: data:text/plain;charset=utf-8;base64,{{ .NFTRulesBase64 }}
          mode: 384
          overwrite: true
          path: /etc/sysconfig/nftables-crtmgr-http01.conf
    systemd:
      units:
        - contents: |
            [Unit]
            Description=cert-manager HTTP01 DNAT nftables rules
            Wants=network-pre.target
            Before=network-pre.target
            [Service]
            Type=oneshot
            ProtectSystem=full
            ProtectHome=true
            ExecStartPre=/sbin/sysctl -w net.ipv4.ip_forward=1
            ExecStart=/sbin/nft -f /etc/sysconfig/nftables-crtmgr-http01.conf
            ExecStart=/bin/bash -c '/usr/sbin/iptables -C FORWARD -p tcp -d {{ .IngressVIP }}/32 --dport 80 -j ACCEPT 2>/dev/null || /usr/sbin/iptables -I FORWARD 1 -p tcp -d {{ .IngressVIP }}/32 --dport 80 -j ACCEPT'
            ExecReload=/sbin/nft -f /etc/sysconfig/nftables-crtmgr-http01.conf
            ExecStop=/sbin/nft 'add table inet crtmgr_http01_dnat; delete table inet crtmgr_http01_dnat'
            ExecStop=/bin/bash -c '/usr/sbin/iptables -D FORWARD -p tcp -d {{ .IngressVIP }}/32 --dport 80 -j ACCEPT 2>/dev/null; true'
            RemainAfterExit=yes
            [Install]
            WantedBy=multi-user.target
          enabled: true
          name: crtmgr-http01-dnat.service
